<div class="thing">
  <div class="thang">
    <%= render 'posts/post' %>
  </div>
</div>

<input type="button" id="delete-button" value="Delete Shape">

<input type="button" id="clear-button" value="Clear All Shapes">

<div class="map">
  <div id='map-canvas'></div>
</div>

<h3 class="info">
  To add a shape, click on the rectangle, circle, polygon, or polyline icon at the top of the map and start drawing. To tag your plot, click the plot and type in your information.
</h3>

<script type="text/javascript">
  function initialize() {
    var shapesMap = new ShapesMap(
      document.getElementById("map-canvas"),
      document.getElementById("delete-button"),
      document.getElementById("clear-button"));
	}


	google.maps.event.addDomListener(window, 'load', initialize);
</script>
