<div class="forms">
	<div class="signin">
		<h1>
			Sign in!
		</h1>
		<%= render partial: 'sessions/new' %>
	</div>

	<div class="signup">
		<h1 class="signup">
			Sign up!
		</h1>

		<%= render partial: 'users/form' %>
	</div>
</div>
