<div class="info">
	<p>
		DataMapper is a dynamic way for earth scientists to keep track of where they've taken samples.
	</p>
</div>

<div class="forms">
	<div class="signin">
		<h1>
			Sign in!
		</h1>
		<%= render partial: 'sessions/new' %>
	</div>

	<div class="signup">
		<h1 class="signup">
			Sign up!
		</h1>

		<%= render partial: 'users/form' %>
	</div>
</div>
