// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thing {
  display: none;
}

#map-canvas {
  width: 90%;
  height: 700px;
  margin: 0 auto;
  // @include span-columns(8 of 12);
}

      #delete-button {
     position: fixed;
     top: 5px;
     right: 5px;
   }
