// Place all the styles related to the Plots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'Arimo', sans-serif;

  h2.info {
      @include span-columns(6);
      @include shift(5);
      font-size: 20px;
      margin-top: 20px;
  }

  h3.info {
      @include span-columns(6);
      @include shift(3);
      font-size: 20px;
      margin-top: 20px;
  }


  .map {
    @include span-columns(10 of 12);
    @include shift(1 of 12);
    margin-top: 20px;

    #map-canvas{
      height: 800px;
      margin: 0 auto;
    }
  }

  .json {
    display: none;
  }

  #clear-button {
    display: none;
  }

  .saver {
    @include span-columns(1 of 12);
    display: none;
  }

  input[type=submit] {
    color: #000000;
    border: 2px solid black;
    box-shadow: none;
    background-color: #FFFFFF;
    padding: 5px;
  }

  input[type=button] {
    color: #000000;
    border: 2px solid black;
    box-shadow: none;
    background-color: #FFFFFF;
    padding: 5px;
  }
}
